<main class="z-0 flex items-start justify-center w-full min-h-screen bg-transparent browse-container content-books">
  <div class="box-border browse-container md:pt-20">

    <section class="container__cards" data-dark>
      <h2 class="bg-transparent title-category__card">Mi lista</h2>
      <div class="pt-6 md:pt-16 row" id="cards">
        <div class="card" id="card">
          <div id="card-body" class="card-body">
            <img class="card-img-top img__card" src="../../../../../assets/img/libros/terror1.png" alt="">
          </div>
          <!--h5 id="title__card" class="bg-transparent title__card">Harry Potter</h5-->
        </div>

        <div class="card" id="card">
          <div id="card-body" class="card-body">
            <img class="card-img-top img__card" src="../../../../../assets/img/libros/terror2.jpg" alt="">
          </div>
          <div>
            <!--h5 id="title__card" class="bg-transparent title__card">Harry Potter</h5-->
          </div>
        </div>

        <div class="card" id="card">
          <div id="card-body" class="card-body">
            <img class="card-img-top img__card" src="../../../../../assets/img/libros/terror3.jpg" alt="">
          </div>
          <!--h5 id="title__card" class="bg-transparent title__card">Harry Potter</h5-->
        </div>

        <div class="card" id="card">
          <div id="card-body" class="card-body">
            <img class="card-img-top img__card" src="../../../../../assets/img/libros/terror4.jpg" alt="">
          </div>
          <!--h5 id="title__card" class="bg-transparent title__card">Harry Potter</h5-->
        </div>

        <div class="card" id="card">
          <div id="card-body" class="card-body">
            <img class="card-img-top img__card" src="../../../../../assets/img/libros/extinsion.png" alt="">
          </div>
          <!--h5 id="title__card" class="bg-transparent title__card">Harry Potter</h5-->
        </div>

        <div class="card" id="card">
          <div id="card-body" class="card-body">
            <img class="card-img-top img__card" src="../../../../../assets/img/libros/terror6.jpg" alt="">
          </div>
          <!--h5 id="title__card" class="bg-transparent title__card">Harry Potter</h5-->
        </div>

        <div class="card" id="card">
          <div id="card-body" class="card-body">
            <img class="card-img-top img__card" src="../../../../../assets/img/libros/terror7.jpeg" alt="">
          </div>
          <!--h5 id="title__card" class="bg-transparent title__card">Harry Potter</h5-->
        </div>

        <div class="card" id="card">
          <div id="card-body" class="card-body">
            <img class="card-img-top img__card" src="../../../../../assets/img/libros/terror8.jpeg" alt="">
          </div>
          <!--h5 id="title__card" class="bg-transparent title__card">Harry Potter</h5-->
        </div>

      </div>
    </section>
  </div>
</main>
