<ng-container *ngIf="loading">
  <app-spinner></app-spinner>
</ng-container>
<ng-container *ngIf="!loading">
  <app-header-private></app-header-private>
  <section class="bg-transparent container__profile md:bg-login">
    <div class="container__profile-form">
      <section class="profile">
        <h1 class="">
          Crear usuario fake
        </h1>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <section class="form__grid">

            <div class="container__form-input focus-within:border-none">
              <input formControlName="name" type="name" name="name" placeholder=" " class="form__input"
                [class.error-border]="this.userForm.get('name')?.invalid && this.userForm.get('name')?.touched">
              <label for="name"
                class="absolute top-0 px-2 py-4 mb-3 text-xs font-medium duration-300 bg-transparent md:text-sm -z-1 origin-0 text-gray_400">Nombre</label>
              <mat-error class="error-text"
                *ngIf="this.userForm.value.name?.errors?.['required'] && this.userForm.get('name')?.touched">
                El nombre es requerido
              </mat-error>
            </div>

            <div class="container__form-input focus-within:border-none">
              <input formControlName="email" type="email" name="email" placeholder=" " class="form__input"
                [class.error-border]="this.userForm.get('email')?.errors && this.userForm.get('email')?.touched">
              <label for="email"
                class="absolute top-0 px-2 py-4 mb-3 text-xs font-medium duration-300 bg-transparent md:text-sm -z-1 origin-0 text-gray_400">Email</label>
              <mat-error class="error-text"
                *ngIf="this.userForm.value.email?.errors?.['required'] && this.userForm.get('email')?.touched">
                El correo electronico es requerido
              </mat-error>
              <mat-error class="error-text" *ngIf="this.userForm.value.email?.errors?.['email']">
                Ingrese un email valido
              </mat-error>
            </div>


            <div class="z-10 container__form-input focus-within:border-none">
              <input formControlName="password" type="password" name="password" placeholder=" " class="form__input"
                [class.error-border]="this.userForm.get('password')?.invalid && this.userForm.get('password')?.touched">
              <label for="password"
                class="absolute top-0 z-0 px-2 py-4 mb-3 text-xs font-medium duration-300 bg-transparent md:text-sm -z-1 origin-0 text-gray_400">Contraseña</label>
              <mat-error class="error-text"
                *ngIf="this.userForm.value.password?.errors?.['required'] && this.userForm.get('password')?.touched">
                La contraseña es requerida
              </mat-error>
            </div>


            <div class="z-10 container__form-input focus-within:border-none">
              <input formControlName="confirmPassword" type="password" name="confirmPassword" placeholder=" "
                class="form__input"
                [class.error-border]="this.userForm.get('password')?.invalid && this.userForm.get('password')?.touched">
              <label for="password"
                class="absolute top-0 z-0 px-2 py-4 mb-3 text-xs font-medium duration-300 bg-transparent md:text-sm -z-1 origin-0 text-gray_400">Confirmar</label>
              <mat-error class="error-text"
                *ngIf="this.userForm.value.confirmPassword?.errors?.['required'] && this.userForm.get('confirmPassword')?.touched">
                La confirmación de contraseña es requerida
              </mat-error>
            </div>
            <mat-error class="error-text" *ngIf="userForm.errors?.['passwordsDontMatch']">
              Las contraseñas no coinciden
            </mat-error>


          </section>
          <div class="container__form-buttom">
            <button class="bg-nwred" type="submit" [disabled]="this.userForm.invalid"
              [class.bg-grey]="this.userForm.invalid">
              Crear
            </button>
          </div>
        </form>
      </section>
    </div>
  </section>
</ng-container>
