<section class="hero-image border-body bg-bg_body">
  <div class=" hero-content">
    <div class="content-title-1">
      <h1 class="text-3xl md:text-6xl md:w-3/4">
        Audiolibros, revistas ilimitadas y mucho más
      </h1>
      <h2 class="text-xl md:text-3xl ">
        Disfruta donde quieras. Cancela cuando quieras.
      </h2>
    </div>

    <section class="content-title-2">
      <h3 class=" md:text-xl md:text-center">
        ¿Aún no estas convencido? dale una mirada a las <a [routerLink]="['/news']" class="text-nwred md:text-normal">
          <strong>Novedades</strong>
        </a> que traemos para tí</h3>
    </section>
  </div>
</section>
