<section class="profile">
  <ng-container *ngIf="this.bookForm.get('name')?.invalid">
    <h1>
      Agregar Libro
    </h1>
  </ng-container>
  <ng-container *ngIf="!this.bookForm.get('name')?.invalid">
    <h1>
      Editar Libro
    </h1>
  </ng-container>
  <form [formGroup]="bookForm" (ngSubmit)="saveBook()">
    <section class="form__grid">
      <div class="container__form-input focus-within:border-none">
        <input formControlName="name" type="text" placeholder=" " class="form__input">
        <label
          class="absolute top-0 px-2 py-4 mb-3 text-xs font-medium duration-300 bg-transparent md:text-sm -z-1 origin-0 text-gray_400">Nombre</label>
      </div>
      <div class="container__form-input focus-within:border-none">
        <input formControlName="author" type="text" placeholder=" " class="form__input">
        <label
          class="absolute top-0 px-2 py-4 mb-3 text-xs font-medium duration-300 bg-transparent md:text-sm -z-1 origin-0 text-gray_400">Autor</label>
      </div>
      <div class="container__form-input focus-within:border-none">
        <input formControlName="category" type="text" placeholder=" " class="form__input">
        <label
          class="absolute top-0 px-2 py-4 mb-3 text-xs font-medium duration-300 bg-transparent md:text-sm -z-1 origin-0 text-gray_400">Categoria</label>
      </div>
      <div class="container__form-input focus-within:border-none">
        <input formControlName="imgUrl" type="text" placeholder=" " class="form__input">
        <label
          class="absolute top-0 px-2 py-4 mb-3 text-xs font-medium duration-300 bg-transparent md:text-sm -z-1 origin-0 text-gray_400">imgUrl</label>
      </div>
    </section>
    <div class="container__form-input focus-within:border-none">
      <input formControlName="description" type="text" placeholder=" " class="form__input">
      <label
        class="absolute top-0 px-2 py-4 mb-3 text-xs font-medium duration-300 bg-transparent md:text-sm -z-1 origin-0 text-gray_400">Descripción</label>
    </div>
    <ng-container *ngIf="!this.bookForm.get('name')?.invalid">
      <div class="container__form-buttom">
        <button class="bg-nwred" type="submit">
          Editar
        </button>
      </div>
    </ng-container>
    <ng-container *ngIf="this.bookForm.get('name')?.invalid">
      <div class="container__form-buttom">
        <button class="bg-nwred" type="submit" [disabled]="!bookForm.valid">
          Crear
        </button>
      </div>
    </ng-container>
  </form>
</section>
